@model PagedList.IPagedList<dev_skb101.Models.aluguel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/home/login");
    }
}

<h2>Meus Alugueis</h2>

<p>
    <h3 style="text-align:center"> @Html.ActionLink("ADICIONAR", "Create", null, new { @class = "btn btn-success" })</h3>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Data Entrada")
        </th>
        <th>
            @Html.DisplayName("Data Saída")
        </th>
        <th>
            @Html.DisplayName("Bicicleta")
        </th>
        <th>
            @Html.DisplayName("Descrição")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        DateTime dataEntrada = Convert.ToDateTime(item.dataEntrada.Value);
        DateTime dataSaida = Convert.ToDateTime(item.dataSaida.Value);
        <tr>
            <td>
                @dataEntrada.ToString("dd/MM/yyyy")
            </td>
            <td>
                @dataSaida.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bicicleta.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipobike.descicao)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.id }) |
                @Html.ActionLink("Remover", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>

Página @Model.PageNumber de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { pagina = page }))
